<p> Dear Director/Adminstrator</p>
<p>
  The task <%= @assignment.name %> belonging to 	due on <%= @assignment.due_at.strftime("%A, %d %B %Y")%> has crossed the due date.
</p>
regards,<br/>
<strong>MPM, Qubik </strong>