<div class="container">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-5">
<div class="panel panel-primary" style="margin-top: 10px;">
  <div class="panel-heading">
    <h3 class="panel-title fonts">Add Assignment</h3>
  </div>
  <div class="panel-body">

<%= render 'form' %><br>

<%= link_to 'Back', assignments_path, class:"btn btn-primary btn-fix" %>
</div>
</div>
</div>
</div>
</div>


