<%- if controller_name != 'sessions' %>
  <%link_to "Log in", new_session_path(resource_name) %><br />
  <a href="/users/sign_in"><button class="btn btn-success">Log In</button></a>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>

  <a href="/users/sign_up"><button class="btn btn-success">Sign Up</button></a>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
		<a href="/users/password/new"><button class="btn btn-success">Forgot Password</button></a>
<% end -%>
<!--
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <a href="/users/confirmation"><button class="btn btn-success">Confirmation Link</button></a>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <a href="//users/unlock"><button class="btn btn-success">Unlock</button></a>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
!-->